qrPhone-notif {
    /* Position */
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000000;
    margin: 30px;
    /* Box */
    height: 170px;
    width: 150px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 10px;
    /* Theme */
    font-family: Helvetica, sans-serif;
    text-align: center;
    background: white;
}

qrPhone-notif img {
    height: 150px;
    width: 150px;
}

qrPhone-notif h1 {
    height: 20px;
    line-height: 20px;
    font-size: 15px;
}